@import '../../styles/base/breakpoints';

.services {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 3rem 0;
  color: white;


  @include md {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 0 2rem 0;
  }

  .services-description {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1rem;


    ul {
      padding: .5rem;
      transform: translateX(2%);
    }

    p,
    li {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4rem;

      @include sd {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }

      @include md {
        font-size: 1rem;
        line-height: 1.4rem;
      }

      @include lg {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
  }

  .image-container-left,
  .image-container-right {
    width: 90%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      border-radius: 4px;

      height: auto;

      @include sd {
        width: 80%;
      }

      @include lg {
        width: 70%;
      }
    }
  }

  .image-container-right {
    @include md {
      display: none;
    }
  }
}