$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1700px;

@mixin md() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl() {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl() {
  @media screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin xxxl() {
  @media screen and (min-width: $breakpoint-xxxl) {
    @content;
  }
}
